# H7 - Exploring eGRID III with python - PIVOT tables

### Python data-structures: tuple, list, dictionary, set

In [14]:
mytuple=("a","bus",15,"a",False)
print(mytuple)
print("the first element of my tuple is",mytuple[0])

('a', 'bus', 15, 'a', False)
the first element of my tuple is a

In [15]:
mylist=["a","b","c","a"]
print(mylist)
print("the second element of my list is",mylist[1])
print("all the elements of my list, starting with the second element are",mylist[1:])

['a', 'b', 'c', 'a']
the second element of my list is b
all the elements of my list, starting with the second element are ['b', 'c', 'a']

In [16]:
mytuple2=("a",[1,2,3],False)
print(mytuple2[1][1])

2

In [17]:
mydict={"IGCC":"coal","NGCC":"gas","PV":"sun"} # This maps types of power plants to their fuel.
print(mydict["IGCC"])
print(len(mydict))

coal
3

In [18]:
import pandas as pd 
import numpy as np 
egrid=pd.read_excel("egrid2020_data.xlsx",sheet_name="PLNT20",keep_default_na=False,header=1)
egrid.head(3)

,SEQPLT20,YEAR,PSTATABB,PNAME,ORISPL,OPRNAME,OPRCODE,UTLSRVNM,UTLSRVID,SECTOR,...,PLWIPR,PLSOPR,PLGTPR,PLOFPR,PLOPPR,PLTNPR,PLTRPR,PLTHPR,PLCYPR,PLCNPR
0,1,2020,AK,7-Mile Ridge Wind Project,60814,Alaska Power and Telephone Co,219,Alaska Power and Telephone Co,219,Electric Utility,...,,,,,,,,,,
1,2,2020,AK,Agrium Kenai Nitrogen Operations,54452,Homer Electric Assn Inc,19558,Agrium US Inc,179,Industrial CHP,...,,,,,,,,,,
2,3,2020,AK,Alakanuk,57053,"Alaska Village Elec Coop, Inc",221,"Alaska Village Elec Coop, Inc",221,Electric Utility,...,,,,,,,,,,

## 1. Present a table that shows for each state the number of power plants of different fuel types

We will use the pandas.pivtot_table with syntaxis:
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False, sort=True)[source]¶

In [19]:
pivot1=pd.pivot_table(egrid,index="PSTATABB",values="PNAME",columns="PLFUELCT",aggfunc='count')
pivot1.head(10)

PLFUELCT,,BIOMASS,COAL,GAS,GEOTHERMAL,HYDRO,NUCLEAR,OFSL,OIL,OTHF,SOLAR,WIND
PSTATABB,,,,,,,,,,,,
AK,NaN,1.0,5.0,14.0,NaN,33.0,NaN,NaN,91.0,4.0,NaN,6.0
AL,NaN,12.0,6.0,28.0,NaN,25.0,2.0,1.0,3.0,1.0,11.0,NaN
AR,2.0,8.0,5.0,24.0,NaN,19.0,1.0,NaN,3.0,NaN,16.0,NaN
AZ,4.0,6.0,4.0,33.0,NaN,12.0,1.0,NaN,2.0,4.0,92.0,6.0
CA,30.0,114.0,1.0,347.0,45.0,264.0,2.0,4.0,20.0,87.0,724.0,135.0
CO,3.0,4.0,11.0,28.0,NaN,50.0,NaN,1.0,11.0,4.0,122.0,34.0
CT,2.0,7.0,NaN,50.0,NaN,15.0,1.0,NaN,23.0,NaN,53.0,1.0
DC,NaN,1.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
DE,1.0,3.0,1.0,8.0,NaN,NaN,NaN,NaN,5.0,2.0,13.0,1.0
FL,7.0,43.0,7.0,78.0,NaN,2.0,3.0,NaN,16.0,13.0,111.0,NaN

## 2. Present a table that shows for each state the total installed capacity of different fuel types. Leave blank the cells for which there is not a value

In [20]:
egrid.NAMEPCAP=pd.to_numeric(egrid.NAMEPCAP)
pivot2=pd.pivot_table(egrid,index="PSTATABB",values="NAMEPCAP",columns="PLFUELCT",aggfunc='sum',fill_value="")
pivot2.head(10)

PLFUELCT,,BIOMASS,COAL,GAS,GEOTHERMAL,HYDRO,NUCLEAR,OFSL,OIL,OTHF,SOLAR,WIND
PSTATABB,,,,,,,,,,,,
AK,,11.5,217.2,1731.4,,535.4,,,933.0,46.0,,59.3
AL,,693.6,13121.5,17143.5,,3337.3,5270.4,3.8,31.6,1.6,770.0,
AR,341.0,301.9,5487.0,10192.9,,1350.9,1845.0,,20.9,,728.7,
AZ,1763.0,42.4,6539.1,22573.8,,2916.1,4209.6,,29.1,72.0,3830.2,887.8
CA,9353.4,1468.5,62.5,55284.2,3587.7,13866.4,4577.0,642.3,883.6,2540.4,19121.0,6963.7
CO,875.0,35.6,6137.5,7941.5,,1211.4,,3.0,221.4,18.8,1811.3,5289.6
CT,140.1,254.6,,7584.6,,217.2,2162.9,,2387.2,,308.2,5.0
DC,,14.1,,22.9,,,,,,,15.5,
DE,30.0,14.2,804.1,800.2,,,,,1993.8,333.2,202.9,2.0
FL,2084.8,1606.9,12350.5,75208.2,,85.7,8338.7,,2811.7,480.9,5948.8,

# 3. Present a table that summarizes for each state info on coal, gas, and nuclear plants, showing the size of the smallest plant, the largest plant, the average size, and the total installed capacity

In [21]:
egrid_sub=egrid[(egrid.PLFUELCT=="COAL")|(egrid.PLFUELCT=="GAS")|(egrid.PLFUELCT=="NUCLEAR")]
pivot3=pd.pivot_table(egrid_sub,index="PSTATABB",values=["NAMEPCAP"],columns="PLFUELCT",aggfunc=[min,max,np.mean,sum],fill_value="")
pivot3.head(10)

              min                   max                         mean  \
         NAMEPCAP              NAMEPCAP                     NAMEPCAP
PLFUELCT     COAL  GAS NUCLEAR     COAL     GAS NUCLEAR         COAL
PSTATABB
AK           22.5  8.4             92.8   418.0                43.44
AL         1264.7  3.4  1776.4   3615.5  2683.8  3494.0  2186.916667
AR          558.0  4.0  1845.0   1800.0  2428.0  1845.0       1097.4
AZ          821.8  3.1  4209.6   2409.3  1857.0  4209.6     1634.775
CA           62.5  1.0  2254.0     62.5  3102.0  2323.0         62.5
CO           43.7  3.0           1635.3  1426.9           557.954545
CT                 1.0  2162.9           1157.9  2162.9
DC                 4.6                     10.8
DE          804.1  1.3            804.1   361.0                804.1
FL           98.0  5.8  2160.0   5303.7  6071.5  3678.7  1764.357143

                                       sum
                                  NAMEPCAP
PLFUELCT         GAS      NUCLEAR     COAL      GAS NUCLEAR
PSTATABB
AK        123.671429                 217.2   1731.4
AL        612.267857       2635.2  13121.5  17143.5  5270.4
AR        424.704167       1845.0   5487.0  10192.9  1845.0
AZ        684.054545       4209.6   6539.1  22573.8  4209.6
CA        159.320461       2288.5     62.5  55284.2  4577.0
CO           283.625                6137.5   7941.5
CT           151.692       2162.9            7584.6  2162.9
DC          7.633333                           22.9
DE           100.025                 804.1    800.2
FL        964.207692  2779.566667  12350.5  75208.2  8338.7

## 4. What is the average capacity factor and average nameplate capacity of coal, gas and nuclear plants in each state?

In [22]:
egrid_sub.CAPFAC=pd.to_numeric(egrid_sub.CAPFAC)
pivot4=pd.pivot_table(egrid_sub,index="PSTATABB",values=["NAMEPCAP","CAPFAC"],columns="PLFUELCT",aggfunc=[np.mean],fill_value="")
pivot4.tail(10)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

              mean
            CAPFAC                         NAMEPCAP
PLFUELCT      COAL       GAS   NUCLEAR         COAL         GAS NUCLEAR
PSTATABB
SC        0.325818  0.193692  0.704315        748.9     370.125  2324.5
SD         0.41768  0.113573                  451.0  135.615385
TN        0.280606  0.366452   0.84188  1267.116667  774.542857  2490.4
TX        0.361173  0.317243   0.92029     1560.155  435.379424  2569.3
UT        0.525852  0.213995             991.783333     133.876
VA        0.242564  0.348142  0.942915     520.5625  605.081818  1827.7
WA         0.32989  0.334487   0.89679        891.9   260.15625  1200.0
WI        0.403689  0.141654   0.85081        537.2  222.121739  1311.0
WV         0.48831  0.263876                997.475    442.6625
WY         0.64796  0.232871             525.021429   54.155556

## 5. Repeat 4, but this time show for each state the total nameplate capacity and the average CF for gas, nuclear, and coal plants

In [23]:
##The code below will give us a wrong table because it will be summing the capacity factors of a given fuel type
## in a state. That is because we are specifying the aggfunc as a list, without saying which function applies to which
## value (i.e., nameplate capacity or capacity factor)
pivot5=pd.pivot_table(egrid_sub,index="PSTATABB",values=["NAMEPCAP","CAPFAC"],columns="PLFUELCT",aggfunc=[sum,np.mean],fill_value="")
pivot5.tail(10)

              sum                                                    mean  \
           CAPFAC                    NAMEPCAP                      CAPFAC
PLFUELCT     COAL       GAS  NUCLEAR     COAL       GAS NUCLEAR      COAL
PSTATABB
SC        1.95491   4.26123  2.81726   5991.2   10363.5  9298.0  0.325818
SD        0.41768   1.02216             451.0    1763.0           0.41768
TN        1.40303   4.76388  1.68376   7602.7   10843.6  4980.8  0.280606
TX        5.77877  51.07606  1.84058  31203.1  105797.2  5138.6  0.361173
UT        2.62926   4.92189            5950.7    3346.9          0.525852
VA        1.21282   9.74797  1.88583   4164.5   19967.7  3655.4  0.242564
WA        0.32989   5.35179  0.89679   1783.8    4162.5  1200.0   0.32989
WI        3.22951   6.09114  0.85081   6983.6   10217.6  1311.0  0.403689
WV        4.39479   1.31938           15959.6    3541.3           0.48831
WY        7.77552   1.86297            7350.3     487.4           0.64796


                                 NAMEPCAP
PLFUELCT       GAS   NUCLEAR         COAL         GAS NUCLEAR
PSTATABB
SC        0.193692  0.704315        748.9     370.125  2324.5
SD        0.113573                  451.0  135.615385
TN        0.366452   0.84188  1267.116667  774.542857  2490.4
TX        0.317243   0.92029     1560.155  435.379424  2569.3
UT        0.213995             991.783333     133.876
VA        0.348142  0.942915     520.5625  605.081818  1827.7
WA        0.334487   0.89679        891.9   260.15625  1200.0
WI        0.141654   0.85081        537.2  222.121739  1311.0
WV        0.263876                997.475    442.6625
WY        0.232871             525.021429   54.155556

In [26]:
#This code below would give us the desired result. It uses a DICTIONARY to specify that we want to sum the capacity
#but we want to average the capacity factor
pivot6=pd.pivot_table(egrid_sub,index="PSTATABB",values=["NAMEPCAP","CAPFAC"],columns="PLFUELCT",aggfunc={"NAMEPCAP":sum,"CAPFAC":np.mean},fill_value="")
pivot6.tail(10)

            CAPFAC                     NAMEPCAP
PLFUELCT      COAL       GAS   NUCLEAR     COAL       GAS NUCLEAR
PSTATABB
SC        0.325818  0.193692  0.704315   5991.2   10363.5  9298.0
SD         0.41768  0.113573              451.0    1763.0
TN        0.280606  0.366452   0.84188   7602.7   10843.6  4980.8
TX        0.361173  0.317243   0.92029  31203.1  105797.2  5138.6
UT        0.525852  0.213995             5950.7    3346.9
VA        0.242564  0.348142  0.942915   4164.5   19967.7  3655.4
WA         0.32989  0.334487   0.89679   1783.8    4162.5  1200.0
WI        0.403689  0.141654   0.85081   6983.6   10217.6  1311.0
WV         0.48831  0.263876            15959.6    3541.3
WY         0.64796  0.232871             7350.3     487.4

In [27]:
#works write the markdown
pivot6=pd.pivot_table(egrid_sub,index="PSTATABB",values=["NAMEPCAP","CAPFAC"],columns="PLFUELCT",aggfunc={"NAMEPCAP":sum,"CAPFAC":np.mean},fill_value="",margins=True)
pivot6.tail(10)

            CAPFAC                                NAMEPCAP            \
PLFUELCT      COAL       GAS   NUCLEAR       All      COAL       GAS
PSTATABB
SD         0.41768  0.113573            0.143984     451.0    1763.0
TN        0.280606  0.366452   0.84188  0.392533    7602.7   10843.6
TX        0.361173  0.317243   0.92029  0.327907   31203.1  105797.2
UT        0.525852  0.213995            0.269684    5950.7    3346.9
VA        0.242564  0.348142  0.942915  0.367046    4164.5   19967.7
WA         0.32989  0.334487   0.89679  0.365471    1783.8    4162.5
WI        0.403689  0.141654   0.85081  0.195605    6983.6   10217.6
WV         0.48831  0.263876            0.408155   15959.6    3541.3
WY         0.64796  0.232871            0.481925    7350.3     487.4
All       0.333795  0.272885  0.839522  0.296542  288509.2  623785.7


PLFUELCT   NUCLEAR        All
PSTATABB
SD                     1730.1
TN          4980.8    22677.1
TX          5138.6   116512.2
UT                     9085.8
VA          3655.4    23934.9
WA          1200.0     7144.3
WI          1311.0    17840.8
WV                    14429.6
WY                     7779.5
All       109701.5  1021996.4